annotated-types
anyio
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
distro
Flask
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
MarkupSafe
numpy
openai
outcome
packaging
pandas
pdf2image
pillow
pycparser
pydantic
pydantic_core
PyMuPDF
PySocks
pytesseract
python-dateutil
pytz
requests
selenium
setuptools
six
sniffio
sortedcontainers
tqdm
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
websocket-client
Werkzeug
wheel
wsproto
