annotated-types 
anyio 
certifi 
colorama 
distro 
h11 
httpcore 
httpx 
idna 
jiter 
openai 
pip 
pydantic 
pydantic_core 
setuptools 
sniffio 
tqdm 
typing_extensions 
typing-inspection 
wheel 
openai
